html, body {
    background-color: #fafafa;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    display: inline-block;
    left: 50%;
    margin: 4rem auto;
    position: absolute;
    transform: translateX(-50%);
}

.title {
    color: #e00;
    font-size: 4rem;
    margin: 0;
    text-shadow: 0 1px 0 #600;
}

.field {
    margin-bottom: 1.5rem;
}
.field__label {
    display: block;
}
.field__input {
    border: 1px solid #bbb;
    display: block;
    font-family: Monaco, monospace;
    font-size: 1.4rem;
    outline: none;
    padding: 2px 4px;
    transition: border-color 200ms ease-out;
}
.field__input--focus,
.field__input:focus {
    border-color: #600;
}

.subtle {
    /*color: rgba(0, 0, 0, .6);*/
    opacity: .6;
    font-size: 80%;
}

.timestamp {
    width: 160px;
}
.timestamp--milliseconds {
    width: 208px;
}
.iso8601 {
    width: 335px;
}

.flatpickr-calendar {
    margin: 0 auto !important;
    top: 20px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.links {
    margin-top: 3rem;
    font-size: .8rem;
    color: #999;
    text-align: center;
}
.links__link {
    color: #999;
}
